extends base

block vars
  - var title = 'Account'

block body
  h1 View Account Information
  p
    Welcome to the dashboard. Here is your account information:

  // p First Name: #{user.firstName}
  // p Last Name: #{user.lastName}
  // p Email: #{user.email}
